<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>list</title>
</head>
<body>
    <ul>
        <% items.forEach(function(listitem){%> <% include listitems %> <%})%>
    </ul>
    <!--  READ HERE!!!
    <script>
    items: the values come from 'index.js',
    listitem:the variable in 'listitems.ejs',
    listitems:the name of the file 'listitems.ejs'
    items.forEach(function(listitem){
        include listitems
    })
    </script>
    -->
</body>
</html>
